<div class="text-center">
  <h1>404</h1>
  <p>Page Not Found</p>
  <a href="/dashboard" class="btn btn-dark">Go Back</a>
</div><div class="text-center">
  <h1>404</h1>
  <p>Page Not Found</p>
  <a href="/dashboard" class="btn btn-dark">Go Back</a>
</div>