<div class="text-center">
  <h2>Welcome </h2>
  <p>Select a Room</p>

  <div class="d-flex justify-content-center gap-3 mt-4">
    <a href="/room/General" class="btn btn-primary">General</a>
    <a href="/room/Tech" class="btn btn-success">Tech</a>
    <a href="/room/Random" class="btn btn-warning">Random</a>
  </div>
</div>