<%- include('partials/header') %>

<div class="chat-container">

    <!-- Header -->
    <div class="chat-top">
        <div>
       
            <small id="onlineCount">Online: 0</small>
        </div>

        <div>
            <span class="me-3">User: <strong></strong></span>
            <a href="/dashboard" class="btn btn-sm btn-danger">Exit</a>
        </div>
    </div>


    <!-- Messages Area -->
    <div id="messages" class="chat-messages">
        <!-- Messages dynamically yaha aayenge -->
    </div>


    <!-- Input Area -->
    <div class="chat-bottom">
        <input 
            type="text"
            id="messageInput"
            placeholder="Type message..."
            autocomplete="off"
        >
        <button id="sendBtn">Send</button>
    </div>

</div>





<%- include('partials/footer') %>